##Web Crawl from Twitter

In [1]:
import random
import time
import datetime
import tweepy
import pandas as pd

from lxml.html import fromstring
import nltk
import requests
from twitter import OAuth, Twitter

import credentials

In [2]:
consumer_key = "FEeKdLVLUJoNKuPL011y6bNWD"
consumer_secret = "Z3b0U941WFyYd9P3mztxoacQX31T3YkgFde4ZWJ4lkTYcpdYBF"
access_token = "552164994-MuDIZ1L2C2QTjRCH2fNZ9cNXEXlsHmyACTazENat"
access_token_secret = "EO7zGxuwPd8oxNGswfWESILdccUfalTKfd0G7K1GxmwrH"

auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth,wait_on_rate_limit=True)

### Maxis###

In [3]:
tweets_list = []
text_query = ['maxis']
count = 100
try:
# Pulling individual tweets from query
    for tweet in api.search(q=text_query, count=count):
# Adding to list that contains all tweets
      tweets_list.append((tweet.created_at,tweet.id,tweet.text, tweet.retweet_count, tweet.favorite_count ))
except BaseException as e:
    print('failed on_status,',str(e))
    #time.sleep(3)

In [4]:
for tweet in api.search(q=text_query, count=count):
  # Appending chosen tweet data
  tweets_list.append((tweet.created_at,tweet.id,tweet.text, tweet.retweet_count,   tweet.favorite_count))

In [5]:
tweet_maxis = pd.DataFrame(tweets_list, columns = ['date_time', 'id', 'tweets', 'retweet', 'favourite'])

### Celcom###

In [6]:
tweets_list = []
text_query = 'celcom'
count = 100
try:
# Pulling individual tweets from query
    for tweet in api.search(q=text_query, count=count):
# Adding to list that contains all tweets
      tweets_list.append((tweet.created_at,tweet.id,tweet.text, tweet.retweet_count, tweet.favorite_count ))
except BaseException as e:
    print('failed on_status,',str(e))
    #time.sleep(3)

In [7]:
for tweet in api.search(q=text_query, count=count):
  # Appending chosen tweet data
  tweets_list.append((tweet.created_at,tweet.id,tweet.text, tweet.retweet_count,   tweet.favorite_count))

In [8]:
tweet_celcom = pd.DataFrame(tweets_list, columns = ['date_time', 'id', 'tweets', 'retweet', 'favourite'])

### Digi###

In [9]:
tweets_list = []
text_query = 'Digi'
count = 100
try:
# Pulling individual tweets from query
    for tweet in api.search(q=text_query, count=count):
# Adding to list that contains all tweets
      tweets_list.append((tweet.created_at,tweet.id,tweet.text, tweet.retweet_count, tweet.favorite_count ))
except BaseException as e:
    print('failed on_status,',str(e))
    #time.sleep(3)

In [10]:
for tweet in api.search(q=text_query, count=count):
  # Appending chosen tweet data
  tweets_list.append((tweet.created_at,tweet.id,tweet.text, tweet.retweet_count,   tweet.favorite_count))

In [11]:
tweet_digi = pd.DataFrame(tweets_list, columns = ['date_time', 'id', 'tweets', 'retweet', 'favourite'])

### Umobile###

In [12]:
tweets_list = []
text_query = 'umobile'
count = 100
try:
# Pulling individual tweets from query
    for tweet in api.search(q=text_query, count=count):
# Adding to list that contains all tweets
      tweets_list.append((tweet.created_at,tweet.id,tweet.text, tweet.retweet_count, tweet.favorite_count ))
except BaseException as e:
    print('failed on_status,',str(e))
    #time.sleep(3)

In [13]:
for tweet in api.search(q=text_query, count=count):
  # Appending chosen tweet data
  tweets_list.append((tweet.created_at,tweet.id,tweet.text, tweet.retweet_count,   tweet.favorite_count))

In [14]:
tweet_umobile = pd.DataFrame(tweets_list, columns = ['date_time', 'id', 'tweets', 'retweet', 'favourite'])

In [15]:
#append all df
tweet_telco = pd.concat([tweet_umobile, tweet_digi, tweet_celcom, tweet_maxis])

In [16]:
tweet_telco

,date_time,id,tweets,retweet,favourite
0,2020-03-18 09:17:51,1240205765786271744,"@mona_menot Hai @mona_menot :), sila DM kami m...",0,0
1,2020-03-18 09:17:34,1240205694541811715,@umobile tak yah la beli . lagi slow line nya ...,0,0
2,2020-03-18 09:16:14,1240205362403270657,Banyak kali bodo aku topup @umobile Rm30 tapi...,0,0
3,2020-03-18 09:15:16,1240205119108472833,"@lomlkji Hai, ini bukan apa yang kami inginkan...",0,0
4,2020-03-18 09:14:58,1240205040632999938,"@umobile i wonder kenapa bila bill generated, ...",0,0
...,...,...,...,...,...
195,2020-03-18 07:09:00,1240173343153639430,RT @rmlinwr: Dengan situation kat malaysia sek...,1,0
196,2020-03-18 07:08:56,1240173325952811009,"Dear maxis ,\n\nBagilah lh promo sementara cut...",0,0
197,2020-03-18 07:06:24,1240172684794716160,@HotlinkListens Does it have a time limit? I a...,0,0
198,2020-03-18 07:04:56,1240172317029752832,"@Maxis hi maxis, harini memang no service ke c...",0,0
199,2020-03-18 07:03:49,1240172036841857024,Line maxis kat rumah ni cambodoh!! Rumah tenga...,0,0

In [17]:
##Future Work
#1)remove duplicate ID
#2)add selected date(1yeardata)
#3)set location to malaysia (can be the key word maxis exist in spain or other country)