In [1]:
import pandas as pd
from pyhive import hive

In [2]:
conn = hive.Connection(host="localhost", port=10000)

In [3]:
df = pd.read_sql("SELECT * FROM default.df2", conn)

In [4]:
df.head()

  df2.quarter  df2.axiata  df2.digi  df2.maxis   df2.tm
0  2009-09-30     3380922   1238766    2156000  2101087
1  2009-12-31     3693781   1247612    2211000  2272544
2  2010-03-31     3812685   1290358    2152000  2124883
3  2010-06-30     3854069   1335096    2191000  2150938
4  2010-09-30     3937205   1351341    2216000  2194558

In [5]:
df.describe()

         df2.axiata      df2.digi     df2.maxis        df2.tm
count  4.300000e+01  4.300000e+01  4.300000e+01  4.300000e+01
mean   4.982791e+06  1.586184e+06  2.214674e+06  2.694206e+06
std    8.641711e+05  1.388962e+05  9.578068e+04  3.345451e+05
min    3.380922e+06  1.238766e+06  2.065000e+06  2.101087e+06
25%    4.344400e+06  1.547072e+06  2.154000e+06  2.404248e+06
50%    4.747318e+06  1.618345e+06  2.214000e+06  2.778922e+06
75%    5.874018e+06  1.674696e+06  2.245000e+06  2.943220e+06
max    6.267007e+06  1.798623e+06  2.590000e+06  3.237032e+06